body{
  background-color: red;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#lottery_box{
  background-color: white;
  padding: 20px;
  height: 450px;
  width: 500px;
  font-family: arial;
}

button{
  padding: 30px 40px;
  border-radius: 0px;
  border: 1px solid grey;
}

#results{
  font-weight: 700;
  padding: 5px;
}